<!DOCTYPE html>
<!-- 
	Project trying to best visualize student attributes in order to enable
	optimal decision making when grouping students together. 

  	Thanks to parcoords for a great library! (link below)
  	http://syntagmatic.github.io/parallel-coordinates/ 
 -->
<html>
  <head>
  	<meta charset="utf-8"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  	<script id="d3" src="https://d3js.org/d3.v3.js"></script>    	  	
  	<script src="d3.parcoords.js"></script>
  	
  	<link rel="stylesheet" type="text/css" href="d3.parcoords.css">	
  	<link rel="stylesheet" type="text/css" href="style.css">	

  	<!--  -->
  	<script id="app" src="http://localhost:8000/index.js"></script>

  	<link rel="shortcut icon" href="">
  </head>
  <body ng-app="myApp">
  <!-- Tab links -->
    <div class="tab">
        <button id="vistab" class="tablinks" onclick="openCity(event, 'visualization')">Visualization</button>
        <button class="tablinks" onclick="openCity(event, 'analytic1')">WVS analytic trail</button>
        <button class="tablinks" onclick="openCity(event, 'analytic2')">Custom analytic trail</button>
        <button class="tablinks" onclick="openCity(event, 'lessons')">Lessons learned</button>
        <!--<button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>-->
    </div>
    
    <div id="visualization" class="tabcontent">
        <div align="center">
            <h2>
                World Value visualization
            </h2>
            <p style="padding-bottom:5px">
                An interactive model visualizing 20 years worth of results from the World Value Survey. Note that not all results
                are available for all time periods, and that no value available is represented with the value -1 (this can make 
                the model a bit harder to read at times, and in retrospect this is something that should have been avoided).
            </p>
            <p style="padding-bottom:20px">
                In addition to choosing which attributes and countries to display you can choose which out of four waves to display. The
                default choice is to display combined data from all waves. 
            </p>
        </div>  

        <!-- D3 uses this canvas  -->
        <div id="canvas" class="parcoords"></div>

        <div class="modelParams" ng-controller="featureSelectionController">
            <h4 align="center">Select attributes to include</h4>
            <label ng-repeat="feature in features">
            <!--
                Use `ng-model="dimension.selected"` to utilize two-way-data-binding. Note that `.selected`
                is arbitrary. The property name could be anything and will be created on the object if not present.
            -->
            <input
                type="checkbox"
                name="selectedFeatures[]"
                value="{{feature.name}}"
                ng-model="feature.selected"
            > {{feature.name}}
            </label>
            <h4 align="center">Choose wave</h4>
            <select ng-model="selectedInterval" 
                    ng-change="updateInterval()"
                    ng-options="interval.name for interval in intervals"></select>
        </div>
        <div id="countryMenu" ng-controller="countrySelectionController">
            <h4 align="center" >Select countries to include</h4>
                <label id="countrySelect" ng-repeat="country in countries">
                    <input id="foo"
                        type="checkbox"
                        name="selectedCountries[]"
                        value="{{country.name}}"
                        ng-model="country.selected"> 
                    <span id="bar">{{country.name}}</span>
                    
                </label>		
        </div>
    </div>
    
    <div id="analytic1" class="tabcontent">
        <p>
            Using the World Value Survey's online analysis tool we set out to gather insights into how
            happy people feel and how people's happiness might relate to other factors. To begin with we 
            choose a wave (i.e. a time period) to examine.        
        </p>
        <img src="/analytic_trails/wvs/1.png" alt="wvs image 1">
        <p>
            Next step is selecting countries to include. We decide to keep the list of countries small to 
            simplify the following steps. 
        </p>        
        <img src="/analytic_trails/wvs/2.png" alt="wvs image 2">     
        <p>
            Now it's time to select which attribute to observe. Note that we can only choose a single attribute 
            here. 
        </p>        
        <img src="/analytic_trails/wvs/3.png" alt="wvs image 3">
        <p>
            Having chosen an attribute we are offered several options. We can get a visual representation of the attribute,
            we can break the results down based on seveal values (includeing martal status, gender, size of home town and more), 
            and we can choose to exclude non-direct answers. Finally we can press the arrow buttons to browse through other 
            attributes, this way we can compare values and try to find some relationships between attributes. 
        </p>        
        <img src="/analytic_trails/wvs/4.png" alt="wvs image 4">
        <p>
            We choose an additional attribute to examine, however since we can only look an one variable at a time trying 
            to find any relationships between the attributes is quite clumbersome. From the quick analysis we have done now 
            we could for example hypothesize that there is a positive correlation between happiness and how willing people are to 
            help one another. 
        </p>        
        <img src="/analytic_trails/wvs/_1.png" alt="wvs image _1">        
    </div>
    <div id="analytic2" class="tabcontent">
        <p>
            Use my visualization to draw some insights from the data. The data is overwhelming at first, but as we have been trained
            to do, we do not panic! 
        </p>
        <img src="/analytic_trails/custom/1.png" style="width: 60%" alt="wvs image 1">
        <p>
            Filter away entities and attributes tath we are not interested in in order to reveal useful insights. 
        </p>        
        <img src="/analytic_trails/custom/2.png" style="width: 60%" alt="wvs image 2">     
        <p>
            We carry out a similar investigation as we did before, only this time it's considerably much faster to carry out, and the 
            results are much more readable. 
        </p>        
        <img src="/analytic_trails/custom/3.png" style="width: 60%" alt="wvs image 3">
        <img src="/analytic_trails/custom/4.png" style="width: 60%" alt="wvs image 4">
        <img src="/analytic_trails/custom/5.png" style="width: 60%" alt="wvs image 5">
        <p>
            Seems that there is a positive correlation between overall happiness and how important people consider their leasure time
            for the countries we have examined. However this might be coincidental, need to examine more countries. 
        </p>        
        <img src="/analytic_trails/custom/6.png" style="width: 60%" alt="wvs image 6">
        <p>
            Indeed we see that this seems to generally be the case. By being able to examine so many entities at the same time makes it 
            easy for us to find correlations in the data. 
        </p>       
        <img src="/analytic_trails/custom/7.png" style="width: 60%" alt="wvs image 7">
        <p>
            We filter away those that seem fairly consistent. To relveal some more interesting relations between happiness and other 
            attributes in our data. 
        </p>       
        <img src="/analytic_trails/custom/9.png" style="width: 60%" alt="wvs image 9">
        <p>
            Notice that missing values are represented with the value -1. In retrospect this was a poor design choice that can make the 
            model a bit harder to read. We add some brushing to get rid of any missing values, and see the following negative correlations. 
        </p>
        <img src="/analytic_trails/custom/13.png" style="width: 60%" alt="wvs image 13">
    </div>
    <div id="lessons" class="tabcontent">
        <p>
            <span style="font-weight: bold">Lesson one:</span> Processing data takes a *lot* of time, think the proces through before starting! 
            I chose to download time series data from the World Value Survey website (see below). The benefit was fewer downloads (only one file per attribute). 
            However the structure of the files makes processing the data hard to automate. 
        </p>
        <img src="/analytic_trails/lessons/1.png" alt="wvs image 1">
        <p>
            <span style="font-weight: bold">Lesson two:</span> I decided to represent missing values with -1. Bad choice because it can make 
            the visualization hard to read at times. Users can avoid this issue by using brushing, however this is something that one would 
            ideally handle in implementation. 
        </p>
        <img src="/analytic_trails/lessons/2.png" alt="wvs image 2">
    </dib>
  </body>
</html>
